
<div class="ui center aligned container">

  <div class='ui justified container'>
  <h1 class="ui header">
    <i class="add circle icon"></i>
    <div class="content">
      Add a Trade
      <div class="sub header">Post a trade you would like and wait for offers.</div>
    </div>
  </h1>
  </div>

  <br />
  <hr>
  <br />


</div>

<%= render 'form' %>
